.App {
  text-align: center;
}
.card {
  width: 250px;
  margin: 10px;
  background-color: lightslategray;
  border-radius: 4px;
  padding: 20px;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card img {
  width: 100%;
}
.content {
  overflow: hidden;
}
.form-container {
  padding: 30px;
}

button {
  padding: 10px;
}
