.App {
  text-align: center;
}
.card {
  width: 1000px;
  margin: 10px;
  background-color: lightslategray;
  border-radius: 4px;
  padding: 20px;
  height: 600px;
}
.card-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card img {
  width: 80%;
}
.content {
  overflow: hidden;
}
.form-container {
  padding: 30px;
}

button {
  padding: 10px;
}

.left-button {
  position: absolute;
  top: 50%;
  left: 36px;
  padding: 10px;
  z-index: 2;
  cursor: pointer;
  user-select: none;
}
.right-button {
  position: absolute;
  top: 50%;
  right: 36px;
  padding: 10px;
  z-index: 2;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.02);
}
